<div class="container faq">

	<div class="row">
		<div class="col-lg-12">
			<h1> Frequently Asked Questions</h1>
		</div>
	</div>	
	<div class="row">	
	<div class="col-md-10">
	<div class="panel-group" id="accordion">

	    <div class="faq-heading">
	      <h4 class="faq-title">
	          General
	      </h4>
	    </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          How can I use TradeMore?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse">
	      <div class="panel-body">
	      	If you would like to start lending or borrowing bitcoin, simply submit you email address on our <a href="https://trademoremargin.com">homepage</a>. We'll get in touch to guide you through the registration process.
	      </div>
	    </div>
	  </div>
	 
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          Who are your borrowers?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
			Our borrowers are market making traders operating on bitcoin exchanges. They are typically professional bitcoin traders, many of whom have significant experience in traditional financial markets. 
	      </div>
	    </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          Who are your lenders?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
			Our lenders can be anyone who wants to earn a return on their bitcoin holdings.
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseInterest">
	          What interest rate do you offer?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseInterest" class="panel-collapse collapse">
	      <div class="panel-body">
	      The interest rate offered is variable, and so the return made by each lender will be different. A typical annualised rate is between 5% and 10%. The rate will vary depending on the demand for borrowing. We will never initiate a loan without a lenders consent. 
	      </div>
	    </div>
	  </div>






	  <div class="faq-heading">
	    <h4 class="faq-title">
	          Borrowers
	  	</h4>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	          Where can I receive borrowed funds?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
	      <div class="panel-body">
	      We have partnered with exchanges to allow you use borrowered bitcoin to trade on their exchange. Funds can also be received on other exchanges. If there is a particular exchange on which you would like to receive funds then please <a href="mailto:team@trademoremargin.com"> get in touch </a>. 
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
	          What leverage do you offer?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse">
	      <div class="panel-body">
	      	New borrowers can receive 2.5x leverage. Prior to receiving a loan, a borrower must deposit 40% of the loan’s principal (the Initial Margin Requirement). We may offer higher leverage to traders who consistently demonstrate strong performance and professionalism.  
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
	          Do you make margin calls?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSix" class="panel-collapse collapse">
	      <div class="panel-body">
			Yes, if the price of bitcoin moves against a borrower we will request that they deposit more funds. If the borrower’s equity falls below 10% of the principal, we will automatically sell fiat currency to protect the principal of the loan. 
	      </div>
	    </div>
	  </div>

	    <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
	          How can I access my funds?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSeven" class="panel-collapse collapse">
	      <div class="panel-body">
		If you receive your funds on an exchange, you can trade your bitcoin through the exchange's online dashboard, or using their API.
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
	          How can I access my trading profits?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseEight" class="panel-collapse collapse">
	      <div class="panel-body">
	      	To access trading profits, whether in bitcoin or fiat, you must make a request to TradeMore. If you satisfy the Initial Margin Requirement (see "What leverage do you offer?") then we will process your withdrawal request.
	      </div>
	    </div>
	  </div>

	  <div class="faq-heading">
	    <h4 class="faq-title">
	          Lenders
	  	</h4>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
	          How does TradeMore vet borrowers?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseNine" class="panel-collapse collapse">
	      <div class="panel-body">
		We use a Risk Based Approach (RBA) towards assessing and managing our clients. We use a credit reference agency to assess each borrower’s credit risk, verify their identity and check their backgrounds. We also perform corporate due diligence on all our borrowers, ensuring all company directors are in good standing. We have an enhanced due diligence process for higher risk customers, such as Politically Exposed Persons (PEPs). 
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
	          How do I transfer my bitcoin?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTen" class="panel-collapse collapse">
	      <div class="panel-body">
			TradeMore will generate and send an invoice. The invoice will contain a public bitcoin address belonging to TradeMore. The lender can then send the funds to TradeMore, which will distribute the funds accordingly. 
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
	          How do I know my funds are safe?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseEleven" class="panel-collapse collapse">
	      <div class="panel-body">
	      	Each of our borrowers has been carefully vetted. Borrowers provide a margin deposit to cover potential losses, and positions are automatically closed by the system to protect lenders' funds. Our team is based in the City of London, and we have professional experience in finance and software development.
	      </div>
	    </div>
	  </div>



	</div> <!-- /accordion -->
	</div> <!-- /col-md-10 -->

	<div class="col-md-2">
	  <div class="faq-heading">
		<h4 class="faq-title"> Anything Else? </h3>
	  </div>
		<p>If you have any other specific questions then we would love to hear them. Please feel free to <a href="mailto:team@trademoremargin.com">contact us</a>.</p>

	</div>

	</div> <!-- /row -->
</div> <!-- /container --> 