<div id="headerwrap">
	<div class="container">

		<div class="row centered">
			<div class="col-lg-12">
				<h1><b>TradeMore</b></h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h1>Thank you for registering as a borrower.</h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered client-information">	
			<div class="col-lg-10 col-lg-offset-1">

					<h3>Unfortunately, the first step is the boring bit. Since we will be lending you bitcoin, we need to confirm that you are upstanding citizen. To help us achieve this we need the following information: </h3>

					<div class="row client-row">																		
								<div class="col-lg-10 col-lg-offset-1">
									<p> 
										<b>1. Proof of your identity.</b> This can be a passport or a valid driver's license.
									</p></br>
									<p>
										<b>2. Proof of your address.</b> This can be a utility bill, bank statement or tax documentation dated within the last three months.
									</p></br>
									<p>This documentation can be sent by return email (or by sending a new email to registration@trademoremargin.com). Once these have been processed we will be back in touch to agree the terms on which you will be borrowing.
									</p></br></br>
								</div>
					</div>

			</div>
		</div><!-- /row centered -->

		<div class="row centered">
			<div class="col-lg-9 col-centered">

			</div> <!-- /col-lg-9 -->
		</div><!-- /row centered -->	

	</div><!-- /container -->
</div><!-- /headerwrap -->