<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target=".navbar-collapse"></button>
      <a class="navbar-brand navbar-top" href="#"><b>TradeMore</b> </a>		
    </div>
    
    <div class="navbar-collapse collapse navbar-main-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll"><a href="https://trademoremargin.com#product">Product</a></li>
        <li class="page-scroll"><a href="https://trademoremargin.com#platform">Platform</a></li>
        <li class="page-scroll"><a href="https://trademoremargin.com#about">About</a></li>
        <li class="page-scroll"><a href="https://trademoremargin.com/faq">FAQ</a></li>
      </ul>
    
    <a class="nav navbar-nav navbar-brand navbar-left" href="mailto:team@trademoremargin.com">team@trademoremargin.com</a>

    </div>
	
  </div>
</div> <!-- /Fixed navbar -->

<div id="headerwrap">
	<div class="container">

		<div class="row centered">
			<div class="col-lg-12">
				<h1><b>TradeMore</b></h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h1>Thank you signing up as a borrower</h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h3 class="subtitle">
					We will email you shortly to get you started borrowing through TradeMore.</br>
					If you use Gmail, please check the 'Promotions' tab as our email may be placed there.

				</h3>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">
			<div class="col-lg-9 col-centered">

			</div> <!-- /col-lg-9 -->
		</div><!-- /row centered -->	

	</div><!-- /container -->
</div><!-- /headerwrap -->

<nav class="navbar-static-bottom">
  <div class="container">
    <div class="navbar-brand">© 2014 <b>TradeMore</b> Registered in England and Wales (number 09219534).</div>
  </div>
</nav>