<div id="headerwrap">
	<div class="container">

		<div class="row centered">
			<div class="col-lg-12">
				<h1><b>TradeMore</b></h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h1>Thank you signing up as a borrower</h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h3 class="subtitle">
					We will email you shortly to get you started borrowing through TradeMore.</br>
					If you use Gmail, please check the 'Promotions' tab as our email may be placed there.

				</h3>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">
			<div class="col-lg-9 col-centered">

			</div> <!-- /col-lg-9 -->
		</div><!-- /row centered -->	

	</div><!-- /container -->
</div><!-- /headerwrap -->