<div id="headerwrap">
	<div class="container">

		<div class="row centered">
			<div class="col-lg-12">
				<h1><b>TradeMore</b></h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h1>Thank you for registering as a lender.</h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered client-information">	
			<div class="col-lg-10 col-lg-offset-1">

					<p>You now have two options:</p>
					<div class="row client-row immediate">
						<span class="list-header-strong">Begin lending up to 5 XBT immediately:</span></br></br> 
						<p>Simply get in touch with us at <a href="mailto:registration@trademoremargin.com">registration@trademoremargin.com</a> and we will arrnage terms and send you an invoice.
						</p>
					</div>
					<div class="row centered">						
							<p>alternatively</p>
					</div>
					<div class="row client-row">											
							<span class="list-header-weak">To lend more than 5 XBT we need the following documentation:</span></br></br>
							
								<div class="col-lg-10 col-lg-offset-1">
									<p> 
										<b>1. Proof of your identity.</b> This can be a passport or a valid driver's license.
									</p></br>
									<p>
										<b>2. Proof of your address.</b> This can be a utility bill, bank statement or tax documentation dated within the last three months.
									</p></br>
									<p>This documentation can be sent by return email (or by sending a new email to registration@trademoremargin.com). Once these have been processed we will be back in touch to agree the terms on which you will be lending.
									</p></br></br>
								</div>
					</div>
			</div>
		</div>



<!--

					<ul class="unordered-list">
						<li class="immediate">
							<span class="list-header">Begin lending up to 5 XBT immediately.</span></br></br> Simply get in touch with us at <a href="mailto:team@trademoremargin.com">team@trademoremargin.com</a> and we will arrnage terms and send you an invoice.
						</li></br>
						<li>
							alternatively
						</li>
						<li>
							<span class="list-header">To lend more than 5 XBT we need the following documentation:</span></br></br>
							<ul>
								<li>Proof of your identity. This can be a passport or a valid driver's license.</li>
								<li>Proof of your address. This can be a utility bill, bank statement or tax documentation dated within the last three months.</li></br>
								This documentation can be sent by return email (or by sending a new email to registration@trademoremargin.com). Once these have been processed we will be back in touch to agree the terms on which you will be lending. 
							</ul>
						</li>
					</ul>

-->

			</div>
		</div><!-- /row centered -->

		<div class="row centered">
			<div class="col-lg-9 col-centered">

			</div> <!-- /col-lg-9 -->
		</div><!-- /row centered -->
	

	</div><!-- /container -->
</div><!-- /headerwrap -->