<div id="headerwrap">
	<div class="container">

		<div class="row centered">
			<div class="col-lg-12">
				<h1><b>TradeMore</b></h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h1>Registration confirmed.</h1>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">	
			<div class="col-lg-12">
				<h3 class="subtitle">
					<b>We have received confirmation of your registration.</b></br>
					Thank you for registering, we'll be in touch very soon to confirm the next steps.</br>
				</h3>
			</div>
		</div><!-- /row centered -->

		<div class="row centered">
			<div class="col-lg-9 col-centered">

			</div> <!-- /col-lg-9 -->
		</div><!-- /row centered -->
	

	</div><!-- /container -->
</div><!-- /headerwrap -->