<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target=".navbar-collapse"></button>
      <a class="navbar-brand navbar-top" href="#"><b>TradeMore</b> </a>		
    </div>
    
    <div class="navbar-collapse collapse navbar-main-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll"><a href="#product">Product</a></li>
        <li class="page-scroll"><a href="#platform">Platform</a></li>
        <li class="page-scroll"><a href="#about">About</a></li>
        <li class="page-scroll"><a href="https://trademoremargin.com/faq">FAQ</a></li>
      </ul>
    
    <a class="nav navbar-nav navbar-brand navbar-left" href="mailto:team@trademoremargin.com">team@trademoremargin.com</a>

    </div>
	
  </div>
</div> <!-- /Fixed navbar -->

<div class="blog">
	<div class="container">

		<div class="row centered blog-image">
			<div>
				<img class="img-circle img-responsive blog-pic" src="/images/stewart.jpg" alt="">
			</div>
		</div><!-- /row centered -->

		<div class="row centered">
			<div class="col-lg-12">
				<h2>Bitcoin: What it is and why we're excited<h2> 
			</div>
		</div><!-- /row centered -->

		<div class="row centered blog-name-date">
			<div class="col-lg-12">
				<b>Stewart Douglas</b> on 5th November 2014 
			</div>
		</div><!-- /row centered -->

		<div class="row centered">
			<div class="col-lg-12">

				<p>
					Bitcoin is a confusing topic. When you run a Bitcoin company, as we do at TradeMore, you find yourself doing a lot of explaining. Common questions include: <i>What is Bitcoin? Where do new Bitcoins come from? Why does it have value; who backs it?</i> These questions are all reasonable, but to answer them you must understand a little of the history of Bitcoin, and the protocol (the rules) behind it. We will not attempt to explain Bitcoin in this article (an excellent introduction can be found <a href="https://www.igvita.com/2014/05/05/minimum-viable-block-chain/">here</a>, and a slightly more technical introduction is <a href="http://www.michaelnielsen.org/ddi/how-the-bitcoin-protocol-actually-works/">here</a>). What we will say is that Bitcoin is the first fully functional example of a purely digital currency (many other digital currencies, or 'altcoins', have been derived from Bitcoin) and that the key characteristic of Bitcoin is that it is <i>decentralised</i>. Bitcoin does not operate through large banks and it does not use traditional financial infrastructure. Instead, it uses a peer-to-peer network to send and verify transaction information. Each and every user on the Bitcoin network has a complete record of all previous Bitcoin transactions (a ~20GB data structure called the blockchain) and privacy is ensured by using cryptography to decouple peoples' identities from the transactions they make (specifically, by using  <a href="http://en.wikipedia.org/wiki/Public-key_cryptography">public key cryptography</a>). This is a very different privacy model to that implemented in the traditional economy, as illustrated in this diagram from the <a href="https://bitcoin.org/bitcoin.pdf">original bitcoin paper</a>: </br>
				</p>

					<img class="img-responsive" src="http://trademoremargin.com/images/privacy.png"> </br></br>

				<p>	
					Since Bitcoin is decentralised, anyone in the world can start making and processing transactions; you don't need a banking license, you don't need employees, you don't need an expensive headquarters in the City of London or in Manhattan. 
				</p>	
					<h3>Why does it Bitcoin excite us?</h3></br>

				<p>	
					Financial innovation has typically been slow and incremental. Former Federal Reserve chairman Paul Volcker joked that the only useful financial innovation of the past 20 years was the ATM. Historically, among the most important innovations in finance include double-entry book keeping (1494); the stock exchange (1606), and the central bank (1668). However, while each of these represents an important contribution to finance, they are really just important milestones in what has been a slow evolution of the financial system. </br>
				</p>

				<p>	
					Bitcoin is different. Bitcoin is a radical break with the past. Bitcoin takes us from a centralised banking system to digital currency facilitated by decentralised nodes, with enormous potential benefits, including:
				</p>

					<ul>
					<li><b>Low cost transactions</b>: Digital currency eschews the traditional payment infrastructure, meaning transaction costs can be negligible. The benefits are probably most obvious if we consider international remittances. Every day, hundreds of millions of low-income people go to work in tough jobs in foreign countries to make money to send back to their families. Over $400 billion in total annually, according to the World Bank [1]. Banks extract as much as 10% of these transactions in fees, meaning money fails to reach developing nations.</li> </br>

					<li><b>Robust infrastructure</b>: Many banks run outdated software, which is difficult to update due to regulation and fears of interrupting the financial system. Furthermore, governments can and do collapse, which can in turn cause a collapse in the value of local currency, leading to the impoverishment of citizens. Digital currencies operate on top of distributed system, and are robust to node failures.</li> </br>

					<li><b>Anonymity</b>: Digital currency allows individuals to have greater anonymity when transacting over the internet. This could be particularly valuable to those living under repressive regimes. However, Bitcoin is better thought of as being pseudo-anonymous than fully anonymous. The blockchain is public for all to see, and so can be the subject of analysis. Academics Fergal Reid and Martin Harrigan [2] point out that, while users are identified only as public addresses and are encouraged to change these regularly, some linking of addresses is still unavoidable with multi-input transactions (since they must have been owned by the same individual).</li>
					</ul>
				<p>	
					At TradeMore, we believe that these benefits and others will result in digital currencies playing an important role in the the economies of the future. Perhaps Bitcoin will be the most important of these currencies. Perhaps it will be a Bitcoin-variant, like Litecoin or Dogecoin. Perhaps it will be something inspired by Bitcoin, like <a href="">Ethereum</a>. Or perhaps it will be a project we have not yet heard of. Whatever the specific outcome, we believe that blockchain technology could upend traditional financial services, like credit card payments, stock exchanges and international remittances. </br>
				</p>
				<p>
					However, for digital currencies to fulfil this potential, a large number of things must fall into place. Merchants must be able to easily accept digital currency. Consumers must have easy access to digital currency, and be able to spend it with very little friction. And businesses must be able to borrow digital currency, to fund their working capital and manage their risk. And this is precisely what we want to enable through TradeMore.
				<p>
						
					<h3>What are we providing?</h3></br>

				<p>	
					Credit is not part of the Bitcoin protocol. However, the ability to save and borrow play extremely important roles in a modern economy. At TradeMore, we want to introduce credit in to the digital currency ecosystem, beginning with Bitcoin. Currently, the main demand for borrowing Bitcoin comes from traders on Bitcoin exchanges. They need Bitcoin for a number of reasons. Some need to hedge their existing long positions in Bitcoin. Some simply want to short the price of Bitcoin. And some want to implement complex trading strategies, for example to arbitrage across exchanges.</br>
				</p>
				<p>
					At TradeMore we sit between these traders on one side, and lenders wishing to earn a return on their Bitcoin holdings on the other side. We have seen significant demand to borrower Bitcoin from traders, and it is our hypothesis that individuals will seize an opportunity to earn a return on their Bitcoin, if the risk is low. Initial demand to lend on our platform suggests that this hypothesis is correct. How do we ensure low risk? Firstly, we are very selective in who can borrower Bitcoin: all our borrowers are experienced financial professionals with strong credit histories. Secondly, lender funds stay on the exchanges and can only be used to trade on exchange: they cannot be withdrawn (we are not facilitating traditional loans, we are facilitating <a href="http://www.investopedia.com/university/margin/">margin trading</a>). Finally, we require that our borrowers deposit their own funds prior to receiving a loan (an <a href="http://www.investopedia.com/terms/i/initialmargin.asp">initial margin requirement</a>) and we have implemented stop-loss logic to prevent the borrower entering default. These are standard practices used in traditional financial markets, and have been very reassuring to our initial lenders.</br>
				</p>
				<p>
					While initial demand for our product has been encouraging, we have much bigger ambitions. In the long term we see ourselves becoming a universal bank for digital currencies, able to provide funds to borrowers of all sizes: individuals, small firms and large corporates, and offering investors a return on their savings, regardless of the digital currency they hold. Obviously our own success is tied to the growth of digital currencies, but we have seen <a href="https://blockchain.info/charts/n-transactions-excluding-popular?timespan=all&showDataPoints=false&daysAverageString=1&show_header=true&scale=0&address=">very encouraging signs </a> over 2014, with more and more people becoming excited by this innovative new area. If you too are excited by our business and want to know more, please do <a href="mailto:team@trademoremargin.com">get in touch</a>.</br></br>

					[1] http://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/</br>
					[2] http://arxiv.org/abs/1107.4524
				</p>
			</div>
		</div><!-- /row centered -->


	</div><!-- /container -->
</div><!-- /headerwrap -->



<nav class="navbar-static-bottom">
  <div class="container">
    <div class="navbar-brand">© 2014 <b>TradeMore</b> Registered in England and Wales (number 09219534).</div>
  </div>
</nav>